*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    width: 100% ;
    height: 50px;
    background-color: rgb(36, 32, 32);
    color: white;
    position: fixed;
       
}

#heading{
    display: inline-block;
    height: 50px;
    font-size: xx-large;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Comfortaa', cursive;
    transition: 2s;
}
/* #a:hover{
    background-color: blanchedalmond;
} */

#navbar{
    padding-top: 15px;
    float: right;
    font-family: 'Comfortaa', cursive;
}
.clear{
    clear: both;
}
.menubar1{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}
.menubar2{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}
.menubar3{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}
.menubar4{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}
.menubar5{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}
#bodytag{
    height: 300vh;
    /* background-image: url(./pics/mobirise.jpg); */
    background-size: cover;
    background-attachment: scroll;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    
} 
h1{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding-top: 30px;
    padding-bottom: 25px;
    
}
#button1{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rgb(120, 157, 233);
    color: rgb(139, 44, 0);
    border-radius: 90px;
    border: 3px solid black;
    text-align: center;
    margin-left: 400px;
} 
#button2{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    color: brown;
    /* margin-left: 450px; */
    border-radius: 80px;
    border: 3px solid black;
    text-align: center;
}
#images{
    position: absolute;
    
}
footer{
    height: 50px;
    background-color: darkslategray;

}
